<!DOCTYPE html>
<html>
<head>
  <title>Clean Beauty Encyclopedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-header-first">
	<div class="nav-header-first-inner">
		<div class="logo">
			<a href="<%= root_path %>">
				<div class="logo-top">CLEAN</div>
				<div class="logo-bottom">Beauty Encyclopedia</div>
			</a>
		</div>
	</div>
</div>

<div class="nav-header-second">
	<div class="nav-header-second-inner">
		<ul class="menu-header-row">
			<li class="menu-item">Body</li>
			<li class="menu-item">Face</li>
			<li class="menu-item">Hair</li>
			<li class="menu-item">Other</li>
			<li class="menu-item">Concern</li>
			<li class="menu-item">About Us</li>
		</ul>
	</div>
</div>

<div class="main-content">
	<div class="main-content-inner">

		<%= yield %>

	</div>
</div>

<div class="footer">
	<div class="footer-inner">
		<p>placeholder text</p>
	</div>
</div>

</body>
</html>
