<!DOCTYPE html>
<html>
<head>
  <title>Clean Beauty Encyclopedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-header-first">
	<div class="nav-header-first-inner">
		<div class="logo">
			<a href="<%= root_path %>">
				<div class="logo-top">CLEAN</div>
				<div class="logo-bottom">Beauty Encyclopedia</div>
			</a>
		</div>
	</div>
</div>

<div class="nav-header-second">
	<div class="nav-header-second-inner">
		<ul class="menu-header-row">
			<a href="<%= brands_path %>" class="menu-item">
				<li>Brands</li>
			</a>
			<a href="<%= products_path %>" class="menu-item">
				<li>Concerns</li>
			</a>
			<a href="<%= products_path %>?by_category_high_level=makeup" class="menu-item">
				<li>Beauty</li>
			</a>
			<a href="<%= products_path %>?by_category_high_level=body_care" class="menu-item">
				<li>Body &amp; Hair</li>
			</a>
			<a href="<%= products_path %>?by_category_high_level=misc" class="menu-item">
				<li>More</li>
			</a>
			<a href="<%= articles_what_is_clean_beauty_path %>" class="menu-item">
				<li>Learn</li>
			</a>
		</ul>
	</div>
</div>

<div class="main-content">
	<div class="main-content-inner">

		<%= yield %>

	</div>
</div>

<div class="footer">
	<div class="footer-inner">
		<p>Created by Lindsay Elia | 2016</p>
	</div>
</div>

</body>
</html>
