<div class="brands-show-area">

	<div class="brand-logo-detail-page"><img src="<%= @brand.logo %>" alt="brand logo"></div>

	<table class="brand-show-table">
		<tr>
			<td>Company website: </td>
			<td><a href="<%= @brand.site_url %>" target="blank"><%= @brand.site_url %></a></td>
		</tr>
		<tr>
			<td>Year founded: </td>
			<td><%= @brand.year_founded %></td>
		</tr>
		<tr>
			<td>Headquarters country: </td>
			<td><%= @brand.hq_country %></td>
		</tr>
		<tr>
			<td>Is the entire brand's line vegan? </td>
			<td>
				<% if @brand.is_vegan == true %>
					Yes
				<% else %>
					No
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Does the brand contain some vegan products? </td>
			<td>
				<% if @brand.contains_vegan == true %>
					Yes
				<% else %>
					No
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Is the entire brand's line gluten free? </td>
			<td>
				<% if @brand.is_gluten_free == true %>
					Yes
				<% else %>
					No
				<% end %>
			</td>
		</tr>
		<tr>
			<td>Number of products by this brand: </td>
			<td><%= @brand.products.count %></td>
		</tr>
	</table>

	<div class="section-last">
		<div class="callout-link"><%= link_to 'View Products', products_path %></div>
	</div>

</div>