<div class="image-placeholder">this is going be an image</div>

<div class="section">
	<h1>What is Clean Beauty?</h1>
	<a href="<%= articles_what_is_clean_beauty_path %>">
		<div class="callout-link-card">Read More</div>
	</a>
</div>

<div class="section">
	<h1>Find your Clean Beauty Starter Kit</h1>
	<a href="<%= articles_starter_kit_path %>">
		<div class="callout-link-card">Read More</div>
	</a>
</div>

<div class="section-last">
	<h1>Browse by...</h1>
	<ul class="menu-cards">
		<a href="<%= products_path %>">
			<li class="menu-item-card">Category</li>
		</a>
		<a href="<%= brands_path %>">
			<li class="menu-item-card">Brand</li>
		</a>
		<a href="<%= products_path %>">
			<li class="menu-item-card">Concern</li>
		</a>
	</ul>
</div>

