<div class="products-index-left-column">
	<div class="products-index-left-column-inner">
		<h2>Refine By...</h2>
		<div class="panel">

			<div class="panel-heading"><h3>Category</h3></div>
			<form action="" method="post" class="panel-form-area">
				<div class="form-option-group">
					<input type="checkbox" name="makeup" value"makeup" class="checkbox-button" />
					<label for="makeup">Makeup</label>
				</div>
				<div class="form-option-group">
					<input type="checkbox" name="skincare" value"skincare" class="checkbox-button" />
					<label for="skincare">Skincare</label>
				</div>	
				<div class="form-option-group">	
					<input type="checkbox" name="bodycare" value"bodycare" class="checkbox-button" />
					<label for="bodycare">Body</label>
				</div>
				<div class="form-option-group">	
					<input type="checkbox" name="bodycare" value"bodycare" class="checkbox-button" />
					<label for="bodycare">Hair</label>
				</div>
				<div class="form-submit-button">
    				<button type="submit" class="button">Apply Filters</button>
				</div>
			</form>

			<div class="panel-heading"><h3>Concern</h3></div>
			<div class="panel-heading"><h3>Brand</h3></div>
			<div class="panel-heading"><h3>Ingredients</h3></div>
			<div class="panel-heading panel-heading-last"><h3>Price Range</h3></div>
		</div>
	</div>
</div>

<div class="products-index-right-column">

		<% @products.each do |product| %>

			<a href="<%= products_show_path(product) %>">

				<div class="product-card">

					<div class="product-card-image-container">
						<img src="<%= product.image_url %>" alt="image of <%= product.image_alt %>" class="product-card-image-inner">
					</div>
					<div class="product-card-name"><%= product.name %></div>  
					<div class="product-card-price"><%= product.currency %> <%= product.price_string %></div>

				</div>

			</a>

		<% end %>

</div>
