<div class="left-column">
	<div class="left-sidebar"></div>
	<p>stuff</p>
</div>

<div class="right-column">

	<% @products.each do |product| %>
		<div>
			<li><%= link_to product.name, products_show_path(product) %></li>  
			<li><img src="<%= product.image_url %>" height="150" alt="<%= product.image_alt %>"></li>
			<li><%= product.currency %> <%= product.price_string %></li>
		</div>
	<% end %>

</div>


<!-- <p>Products by this brand: </p>
<ul>
<% @brand.products.each do |product| %>
	<li><%= product.name %></li>
<% end %>
</ul> -->