<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'All Products', products_path %></p>

<p>Name: <%= @product.name %></p>
<ul>
	<li><img src="<%= @product.image_url %>" height="300" alt="<%= @product.image_alt %>"></li>
	<li><%= @product.currency %> <%= @product.price_string %></li>
	<li>Size: <%= @product.size %></li>
	<li>Ingredients: <%= @product.ingredients_grouping %></li>
	<li>Original Product Details: <%= link_to 'More Info', @product.original_url %></li>
</ul>

<p>Ingredients from the ingredient table: </p>
<ul>
<% @product.ingredients.each do |ingredient| %>
	<li><%= ingredient.name %></li>
<% end %>
</ul>